*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;

}
body{
    background-color: #edf2f8;

    min-height: 50vh;
}

.cont{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(5, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    margin: 10rem 15%;
    margin-right: 0; 
    /* margin-left: 15rem;
    margin-top: 6rem; */
}
.card{
    margin: 5px;
    font-size: 13px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    background-color: hsl(217, 19%, 35%);
    padding: 30px;
}
/* .container{
     display: grid;
    place-content: center;
    width: 80%;
    margin: 5rem 10%; 
} */

.fulln{

    font-weight: 600;

}
.fullnm{
    color: #ffff;
    font-weight: 600;

}
.vg{
    opacity: 50%;
}
.qom{
    opacity: 70%;

}
.com{
    margin: 10px 10px;
    font-size: 20px;
    font-weight: 700;
}

.daniel{
    background-color:#733fc8;
     border-radius: 15px;
    padding: 30px;
    grid-column: 1/4;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 9rem;
    background-position: 75% 0%;
    background-attachment: scroll;
}
.daniel img{
    border: 2px solid #a775f1;
}

.jonathan{
    background-color: #49556b;
    border-radius: 15px;
     padding: 30px;

}

.jeanette{
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    color: #49556b;
}

.patrick{
    background-color: #18202d;
    border-radius: 15px;
    padding: 30px;
}
.patrick img{
    border: 2px solid #733fc8 ;
}

.kira{
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    color: #49556b  ;
}

img{
    border-radius: 100px;
    width: 30px;
    margin-right: 5px;
    border: 2px rgba(255, 255, 255, 0.9);
}

.user{

    align-items: center;
    margin-bottom: 10px;
}


.caja1 { grid-area: 1 / 1 / 2 / 3; }
.caja2 { grid-area: 1 / 3 / 2 / 4; }
.caja3 { grid-area: 1 / 4 / 3 / 5; }
.caja4 { grid-area: 2 / 1 / 3 / 2; }
.caja5 { grid-area: 2 / 2 / 3 / 4; }
@media (max-width:1400px) {
    .cont{
        margin-right: 0;
    }
}
@media (max-width:800px) {
    .container{
        margin: 5rem 0;
    }
    .cont{
        display: flex;
        flex-direction: column;
        margin: 1rem
    }
}